* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin box($width, $height, $backgroundColor, $borderRadius, $border...) {
  width: $width;
  height: $height;
  background-color: $backgroundColor;
  border: $border;
  border-radius: $borderRadius;
}

@mixin flex($justifyContent, $alignItems, $flexDirection) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-direction: $flexDirection;
}

// FONTS
$openSans: "Open Sans", sans-serif;

@mixin font($family, $size, $weight, $style, $color) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  color: $color;
  font-style: $style;
}

@mixin for-extra-small-phone-only {
  @media (max-width: 380px) {
    @content;
  }
}
@mixin for-small-phone-only {
  @media (max-width: 480px) {
    @content;
  }
}
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-additional-tablet-up {
  @media (min-width: 750px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

// NAVIGATION
.navContainer {
  position: fixed;
  @include box(100%, 100px, transparent, null, null);
  z-index: 7;
  @include flex(null, center, row);
  flex-wrap: nowrap;
  @include for-phone-only() {
    padding: 0 30px;
  }
  @include for-extra-small-phone-only() {
    padding: 0 20px;
  }
  @include for-tablet-portrait-up() {
    padding: 0 30px;
  }
  &__logo {
    @include flex(center, center, column);
    flex-wrap: nowrap;
    @include for-phone-only() {
      @include box(80px, auto, null, null, null);
    }
    @include for-tablet-portrait-up() {
      @include box(80px, auto, null, null, null);
    }
    @include for-tablet-landscape-up() {
      @include box(80px, auto, null, null, null);
    }
  }
  @include keyframes(oal-anim) {
    to {
      stroke-dashoffset: 0;
    }
  }
  &__oalSvg {
    stroke: #ffffff;
    width: 40px;
    path:nth-child(27) {
      stroke-dasharray: 62.80934524536133;
      stroke-dashoffset: 62.80934524536133;
      animation: oal-anim 1s ease infinite alternate;
    }
    path:last-child {
      stroke-dasharray: 62.80934524536133;
      stroke-dashoffset: 62.80934524536133;
      animation: oal-anim 1s ease infinite alternate;
    }
  }
  &__nameSvg {
    width: 70px;
    fill: white;
  }
  // MAIN NAVIGATION BAR
  .mainNav {
    @include for-phone-only() {
      display: none;
    }
    @include for-tablet-portrait-up() {
      display: none;
    }
    @include for-tablet-landscape-up() {
      display: block;
      margin: 0 0 0 5%;
    }
    ul {
      @include flex(null, null, row);
      li {
        list-style: none;
        margin: 0 5px;
        a {
          @include font($openSans, 15px, 600, null, #ffffff);
          text-decoration: none;
          padding: 0 15px;
          cursor: pointer;
        }
      }
    }
  }

  // HAMBURGER BAR ICON
  .phoneMenuBar {
    cursor: pointer;
    @include box(45px, 40px, #f1260d, null, null);
    z-index: 6;
    &__line {
      @include box(80%, 0.9px, #ffffff, null, null);
      margin: 5px 0;
    }
    @include for-phone-only() {
      top: 15px;
      right: 15px;
      @include flex(center, center, column);
      margin: 0 0 0 auto;
      min-width: 45px;
    }
    @include for-tablet-portrait-up() {
      min-width: 45px;
      top: 15px;
      right: 15px;
      @include flex(center, center, column);
      margin: 0 0 0 auto;
    }
    @include for-additional-tablet-up() {
      min-width: auto;
      margin: 0 0 0 0;
      width: 40px;
    }
  }
  &__bookAppointment {
    @include for-phone-only() {
      display: none;
    }
    @include for-tablet-portrait-up() {
      display: none;
    }
    @include for-additional-tablet-up() {
      display: block;
      margin: 0 20px 0 auto;
    }
    a {
      @include for-tablet-portrait-up() {
        @include font($openSans, 15px, 600, null, #ffffff);
        text-decoration-color: #f1260d;
      }
    }
  }
}

// HAMBURGER BAR ICON
.phoneMenuBar {
  @include box(45px, 40px, #f1260d, null, null);
  z-index: 6;
  &__line {
    @include box(80%, 0.9px, #ffffff, null, null);
    margin: 5px 0;
  }
  @include for-phone-only() {
    @include flex(center, center, column);
    margin: 0 0 0 auto;
  }
  @include for-tablet-portrait-up() {
    @include flex(center, center, column);
    margin: 0 0 0 auto;
  }
  @include for-additional-tablet-up() {
    margin: 0;
  }
}

.munuDropdown {
  @include box(100%, 100%, transparent, null, null);
  @include flex(null, center, null);
  position: fixed;
  z-index: 5;
  right: -100%;
  &__blackBox {
    overflow: hidden;
    position: relative;
    @include for-phone-only() {
      display: none;
    }
    @include for-tablet-portrait-up() {
      display: flex;
      @include box(45%, 100%, transparent, null, null);
    }
  }
  &__coverLayer {
    @include box(100%, 100%, rgba(0, 0, 0, 0.8), null, null);
    position: absolute;
    right: -100%;
  }
  &__li {
    @include font($openSans, 25px, 600, null, #222222);
    list-style: none;
    margin: 10px 0;
    &--link {
      a {
        text-decoration: none;
        @include font($openSans, 25px, 600, null, #222222);
      }
    }
  }
  &__menu {
    @include flex(center, null, column);
    padding: 0 0 0 50px;
    @include for-phone-only() {
      @include box(100%, 100%, #ffffff, null, null);
    }
    @include for-tablet-portrait-up() {
      @include box(55%, 100%, #ffffff, null, null);
    }
    ul {
      margin: 0 0 50px 0;
    }
  }
  &__addInfo {
    @include font($openSans, 15px, null, null, #f1260d);
    margin: 0 0 10px 0;
    display: block;
  }
}

// STAR SHOWER CANVAS
canvas {
  @include box(100%, 100%, null, null, null);
  z-index: -1;
}

// INTRODUCTION BANNER
.introduction {
  @include box(100vw, 100vh, #000000, null, null);
  position: relative;
  &__text {
    position: absolute;
    @include for-phone-only() {
      @include box(80%, auto, null, null, null);
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    @include for-tablet-portrait-up() {
      @include box(80%, auto, null, null, null);
      @include flex(null, center, null);
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    @include for-tablet-landscape-up() {
      top: 50%;
    }
  }
  &__intro {
    @include for-phone-only() {
      @include font($openSans, 12px, 600, null, #cfcfcf);
      margin: 35px 0 0 0;
    }
    @include for-tablet-portrait-up() {
      @include font($openSans, 15px, 600, null, #cfcfcf);
      @include box(100%, null, null, null, null);
      margin: 35px 0 0 0;
    }
  }
  &__adTxt {
    display: block;
    margin: 35px 0 0 0;
    @include for-phone-only() {
      @include font($openSans, 25px, 700, null, #ffffff);
    }
    @include for-extra-small-phone-only() {
      @include font($openSans, 22px, 700, null, #ffffff);
    }
    @include for-tablet-portrait-up() {
      @include font($openSans, 35px, 700, null, #ffffff);
    }
    @include for-tablet-landscape-up() {
      @include font(null, 45px, null, null, null);
    }
    @include for-desktop-up() {
      @include font(null, 50px, null, null, null);
    }
  }
}

.munuDropdown {
  @include box(100%, 100%, transparent, null, null);
  @include flex(null, center, null);
  position: fixed;
  z-index: 5;
  right: -100%;
  &__blackBox {
    overflow: hidden;
    position: relative;
    @include for-phone-only() {
      display: none;
    }
    @include for-tablet-portrait-up() {
      display: flex;
      @include box(45%, 100%, transparent, null, null);
    }
  }
  &__coverLayer {
    @include box(100%, 100%, rgba(0, 0, 0, 0.8), null, null);
    position: absolute;
    right: -100%;
  }
  &__li {
    @include font($openSans, 25px, 600, null, #222222);
    list-style: none;
    margin: 10px 0;
    &--contact {
      a {
        text-decoration: none;
        @include font($openSans, 25px, 600, null, #222222);
      }
    }
  }
  &__menu {
    @include flex(center, null, column);
    padding: 0 0 0 50px;
    @include for-phone-only() {
      @include box(100%, 100%, #ffffff, null, null);
    }
    @include for-tablet-portrait-up() {
      @include box(55%, 100%, #ffffff, null, null);
    }
    ul {
      margin: 0 0 50px 0;
    }
  }
  &__addInfo {
    @include font($openSans, 15px, null, null, #f1260d);
    margin: 0 0 10px 0;
    display: block;
  }
}

.aboutMe {
  cursor: pointer;
  @include flex(center, center, null);
  @include for-phone-only() {
    @include box(100%, 45px, #f1260d, null, null);
    @include font($openSans, 13px, 500, null, #ffffff);
    margin: 40px 0 0 0;
  }
  @include for-tablet-portrait-up() {
    @include box(280px, 45px, #f1260d, null, null);
    @include font($openSans, 14px, 500, null, #ffffff);
    margin: 40px 0 0 0;
  }
}

.portfolio {
  @include box(100%, null, null, null, null);
  @include for-phone-only() {
    padding: 100px 0 0 0;
  }
  @include for-tablet-portrait-up() {
    padding: 100px 0 0 0;
  }
  @include for-additional-tablet-up() {
    @include flex(null, null, row);
  }
  &__container {
    @include for-phone-only() {
      padding: 0 40px;
    }
    @include for-tablet-portrait-up() {
      padding: 0 50px;
    }
    @include for-additional-tablet-up() {
      @include flex(null, null, row);
    }
  }
  &__header {
    @include for-phone-only() {
      @include box(100%, null, null, null, null);
      margin: 0 0 10px 0;
    }
    @include for-tablet-portrait-up() {
      @include box(100%, null, null, null, null);
      margin: 0 0 10px 0;
    }
    h1 {
      @include for-phone-only() {
        @include font($openSans, 28px, 600, null, #121212);
      }
      @include for-tablet-portrait-up() {
        @include font($openSans, 30px, 600, null, #121212);
      }
    }
  }
  &__subHeaderTxt {
    @include for-phone-only() {
      @include font($openSans, 14px, null, null, #555555);
      margin: 0 0 50px 0;
    }
    @include for-tablet-portrait-up() {
      @include box(100%, null, null, null, null);
      @include font($openSans, 15px, null, null, #555555);
      margin: 0 0 50px 0;
    }
  }
  .workItem {
    @include flex(center, center, null);
    box-shadow: 0 0 20px 0 #d6d6d6;
    overflow: hidden;
    position: relative;
    @include for-phone-only() {
      @include box(100%, null, null, null, null);
      margin: 0 0 60px 0;
    }
    @include for-tablet-portrait-up() {
      @include box(100%, null, null, null, null);
      margin: 0 0 60px 0;
    }
    @include for-additional-tablet-up() {
      @include box(45%, null, null, null, null);
      margin: 0 15px 60px 15px;
    }
    &::before {
      content: "";
      position: absolute;
      @include box(100%, 0%, rgba(250, 250, 250, 0.5), null, null);
      border-radius: 0 0 50% 50%;
      left: 0;
      top: 0;
      transition: 1s;
    }
    &:hover::before {
      height: 180%;
    }
    &__btnContainer {
      @include box(100%, auto, transparent, null, null);
      @include flex(center, center, null);
      position: absolute;
      transition: 0.5s;
      display: none;
    }
    &__btn {
      text-decoration: none;
      cursor: pointer;
      @include box(80px, 80px, rgba(241, 38, 13, 0.9), 50%, null);
      @include font($openSans, 14px, 600, null, #ffffff);
      @include flex(center, center, null);
      text-align: center;
      padding: 3px;
      margin: 0 10px;
    }
  }
  &__img {
    padding: 15px;
    &--realState {
      @include for-tablet-portrait-up() {
        @include box(60%, auto, null, null, null);
      }
      @include for-phone-only() {
        @include box(70%, auto, null, null, null);
      }
      @include for-extra-small-phone-only() {
        @include box(90%, auto, null, null, null);
      }
      @include for-additional-tablet-up() {
        @include box(90%, auto, null, null, null);
      }
      @include for-desktop-up() {
        @include box(60%, auto, null, null, null);
        padding: 30px;
      }
    }
    &--restaurant {
      @include for-tablet-portrait-up() {
        @include box(50%, null, null, null, null);
      }
      @include for-phone-only() {
        @include box(50%, null, null, null, null);
      }
      @include for-extra-small-phone-only() {
        @include box(80%, null, null, null, null);
      }
      @include for-additional-tablet-up() {
        @include box(70%, null, null, null, null);
      }
      @include for-tablet-landscape-up() {
        @include box(60%, null, null, null, null);
      }
      @include for-desktop-up() {
        @include box(50%, null, null, null, null);
      }
    }
  }
  &__ad {
    background: 
    /* On "top" */ repeating-linear-gradient(
      45deg,
      transparent,
      transparent 5px,
      rgba(204, 204, 204, 0.5) 5px,
      rgba(204, 204, 204, 0.5) 6px
    );
    @include flex(center, center, null);
    flex-direction: column;
    margin: 0 0 60px 0;
    padding: 5px 10px;
    @include for-phone-only() {
      @include box(100%, null, null, null, null);
    }
    @include for-tablet-portrait-up() {
      @include box(100%, null, null, null, null);
    }
    @include for-additional-tablet-up() {
      @include box(45%, 280px, null, null, null);
      margin: 0 15px 60px 15px;
    }
  }
  &__adHeader {
    @include box(100%, null, null, null, null);
    margin: 0 0 21px 0;
    @include for-tablet-portrait-up() {
      @include font($openSans, 30px, 600, null, #000000);
    }
    @include for-phone-only() {
      @include font($openSans, 30px, 600, null, #000000);
    }
  }
  &__adPara {
    @include box(100%, null, null, null, null);
    @include for-tablet-portrait-up() {
      @include font($openSans, 15px, 500, null, #000000);
      margin: 0 0 21px 0;
    }
    @include for-phone-only() {
      @include font($openSans, 14px, 500, null, #000000);
      margin: 0 0 21px 0;
    }
  }
  &__adTalkToHuman {
    text-decoration: none;
    cursor: pointer;
    @include for-tablet-portrait-up() {
      @include box(50%, 45px, #f1260d, null, null);
      @include font($openSans, 14px, 500, null, #ffffff);
      @include flex(center, center, null);
      margin: 0 0 5px 0;
    }
    @include for-phone-only() {
      @include box(100%, 45px, #f1260d, null, null);
      @include font($openSans, 14px, 500, null, #ffffff);
      @include flex(center, center, null);
      margin: 0 0 5px 0;
    }
  }
}
.praising {
  @include for-phone-only() {
    @include box(100%, 100vh, #f1260d, null, null);
    padding: 10px 50px;
    @include flex(center, center, column);
  }
  @include for-tablet-portrait-up() {
    @include flex(center, center, null);
    @include box(100%, 100vh, #f1260d, null, null);
    padding: 10px 50px;
  }
  &__txt {
    @include for-phone-only() {
      @include font($openSans, 28px, null, null, #ffffff);
    }
    @include for-extra-small-phone-only() {
      @include font($openSans, 22px, null, null, #ffffff);
    }
    @include for-tablet-portrait-up() {
      @include font($openSans, 40px, null, null, #ffffff);
    }
    @include for-tablet-landscape-up() {
      @include font($openSans, 50px, null, null, #ffffff);
    }
  }
  &__botton {
    @include box(80%, 45px, #f1260d, null, null);
    @include flex(null, center, null);
    @include font($openSans, 14px, 600, null, #ffffff);
    text-decoration: none;
    cursor: pointer;
    @include for-phone-only() {
      margin: 10px auto 0 0;
    }
    @include for-tablet-portrait-up() {
      @include box(240px, 45px, #f1260d, null, null);
      margin: 0 auto auto 0;
    }
    i {
      @include font(null, 18px, 600, null, #ffffff);
      margin: 0 0 0 auto;
    }
  }
}
.secAd {
  @include box(100%, null, null, null, null);
  @include for-tablet-portrait-up() {
    @include flex(center, center, column);
    padding: 100px 50px;
  }
  @include for-phone-only() {
    padding: 100px 50px;
  }
  &__preHeader {
    @include box(100%, null, null, null, null);
    @include for-tablet-portrait-up() {
      @include font($openSans, 15px, null, null, #f1260d);
      margin: 0 0 30px 0;
    }
    @include for-phone-only() {
      @include font($openSans, 14px, null, null, #f1260d);
      margin: 0 0 30px 0;
    }
  }
  &__header {
    @include box(100%, null, null, null, null);
    @include for-phone-only() {
      @include font($openSans, 28px, null, null, #000000);
      margin: 0 0 50px 0;
    }
    @include for-tablet-portrait-up() {
      @include box(70%, null, null, null, null);
      @include font($openSans, 50px, null, null, #000000);
      margin: 0 auto 50px 0;
    }
    @include for-tablet-landscape-up() {
      @include font($openSans, 60px, null, null, #000000);
    }
  }
  &__meet {
    text-decoration: none;
    @include for-tablet-portrait-up() {
      @include box(280px, 45px, #f1260d, null, null);
      @include font($openSans, 14px, 500, null, #ffffff);
      @include flex(center, center, null);
      margin: 0 auto 5px 0;
      cursor: pointer;
    }
    @include for-phone-only() {
      @include box(100%, 45px, #f1260d, null, null);
      @include font($openSans, 14px, 500, null, #ffffff);
      @include flex(center, center, null);
      margin: 0 0 5px 0;
    }
  }
}
.footer {
  min-height: 100vh;
  @include for-tablet-portrait-up() {
    @include box(100%, null, #0a0a0a, null, null);
    padding: 100px 50px 50px 50px;
  }
  @include for-phone-only() {
    @include box(100%, null, #0a0a0a, null, null);
    padding: 100px 50px 50px 50px;
  }
  @include for-additional-tablet-up() {
    @include flex(null, null, row);
  }
  &__myImg {
    @include box(200px, auto, null, 50%, null);
    margin: 0 0 10px 0;
  }
  &__aboutMe {
    @include for-tablet-portrait-up() {
      @include box(100%, null, null, null, null);
      margin: 0 0 30px 0;
    }
    @include for-phone-only() {
      @include box(100%, null, null, null, null);
      margin: 0 0 30px 0;
    }
    @include for-additional-tablet-up() {
      @include box(50%, null, null, null, null);
      padding: 0 20px 30px 20px;
    }
    h1 {
      @include for-tablet-portrait-up() {
        @include font($openSans, 30px, null, null, #ffffff);
        margin: 0 0 45px 0;
      }
      @include for-phone-only() {
        @include font($openSans, 28px, null, null, #ffffff);
        margin: 0 0 45px 0;
      }
    }
    p {
      @include for-tablet-portrait-up() {
        @include font($openSans, 14px, null, null, #cfcfcf);
        line-height: 28px;
      }
      @include for-phone-only() {
        @include font($openSans, 13.5px, null, null, #cfcfcf);
        line-height: 28px;
      }
      @include for-additional-tablet-up() {
        @include font($openSans, 15px, null, null, #cfcfcf);
      }
    }
  }
  &__info {
    @include for-phone-only() {
      @include box(100%, null, null, null, null);
    }
    @include for-tablet-portrait-up() {
      @include box(100%, null, null, null, null);
    }
    @include for-additional-tablet-up() {
      @include box(50%, null, null, null, null);
      padding: 0 0 0 40px;
    }
  }
  &__socialMedia {
    margin: 0 0 50px 0;
    a {
      text-decoration: none;
    }
    i {
      margin: 0 20px 0 0;
      @include for-tablet-portrait-up() {
        @include font(null, 26px, null, null, #ffffff);
      }
      @include for-phone-only() {
        @include font(null, 25px, null, null, #ffffff);
      }
    }
  }
  &__contact {
    @include for-tablet-portrait-up() {
      margin: 0 0 30px 0;
    }
    @include for-phone-only() {
      margin: 0 0 30px 0;
    }
    h4 {
      @include for-tablet-portrait-up() {
        @include font($openSans, 17px, 500, null, #ffffff);
        margin: 0 0 20px 0;
      }
      @include for-phone-only() {
        @include font($openSans, 15px, 500, null, #ffffff);
        margin: 0 0 20px 0;
      }
    }
    a {
      @include for-tablet-portrait-up() {
        @include font($openSans, 16px, null, null, #f1260d);
        margin: 0 0 10px 0;
        display: block;
      }
      @include for-phone-only() {
        @include font($openSans, 15px, null, null, #f1260d);
        margin: 0 0 10px 0;
        display: block;
      }
    }
  }
  &__copyright {
    @include for-tablet-portrait-up() {
      @include font($openSans, 12px, null, null, #cfcfcf);
    }
    @include for-phone-only() {
      @include font($openSans, 12px, null, null, #cfcfcf);
    }
  }
}
// BUILDING A CUSTOM CURSOR
.cursor {
  transform-origin: 100% 100%;
  @include box(3rem, 3rem, null, 50%, 2px solid #f1260d);
  @include flex(center, center, null);
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  z-index: 1;
  backdrop-filter: hue-rotate(30deg);
  &__dot {
    @include box(3px, 3px, #ffffff, 50%, null);
  }
  @include for-phone-only() {
    display: none;
  }
}
.linkGrow {
  transform: scale(2);
  background: #f1260d;
}
.portfolio__workItem img {
  position: relative;
  z-index: -3;
}