* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
}

.navContainer {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: transparent;
  border:;
  z-index: 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (max-width: 599px) {
  .navContainer {
    padding: 0 30px;
  }
}

@media (max-width: 380px) {
  .navContainer {
    padding: 0 20px;
  }
}

@media (min-width: 600px) {
  .navContainer {
    padding: 0 30px;
  }
}

.navContainer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (max-width: 599px) {
  .navContainer__logo {
    width: 80px;
    height: auto;
    border:;
  }
}

@media (min-width: 600px) {
  .navContainer__logo {
    width: 80px;
    height: auto;
    border:;
  }
}

@media (min-width: 900px) {
  .navContainer__logo {
    width: 80px;
    height: auto;
    border:;
  }
}

@-webkit-keyframes oal-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes oal-anim {
  to {
    stroke-dashoffset: 0;
  }
}

.navContainer__oalSvg {
  stroke: #ffffff;
  width: 40px;
}

.navContainer__oalSvg path:nth-child(27) {
  stroke-dasharray: 62.80934524536133;
  stroke-dashoffset: 62.80934524536133;
  -webkit-animation: oal-anim 1s ease infinite alternate;
          animation: oal-anim 1s ease infinite alternate;
}

.navContainer__oalSvg path:last-child {
  stroke-dasharray: 62.80934524536133;
  stroke-dashoffset: 62.80934524536133;
  -webkit-animation: oal-anim 1s ease infinite alternate;
          animation: oal-anim 1s ease infinite alternate;
}

.navContainer__nameSvg {
  width: 70px;
  fill: white;
}

@media (max-width: 599px) {
  .navContainer .mainNav {
    display: none;
  }
}

@media (min-width: 600px) {
  .navContainer .mainNav {
    display: none;
  }
}

@media (min-width: 900px) {
  .navContainer .mainNav {
    display: block;
    margin: 0 0 0 5%;
  }
}

.navContainer .mainNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navContainer .mainNav ul li {
  list-style: none;
  margin: 0 5px;
}

.navContainer .mainNav ul li a {
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  padding: 0 15px;
  cursor: pointer;
}

.navContainer .phoneMenuBar {
  cursor: pointer;
  width: 45px;
  height: 40px;
  background-color: #f1260d;
  border:;
  z-index: 6;
}

.navContainer .phoneMenuBar__line {
  width: 80%;
  height: 0.9px;
  background-color: #ffffff;
  border:;
  margin: 5px 0;
}

@media (max-width: 599px) {
  .navContainer .phoneMenuBar {
    top: 15px;
    right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 0 auto;
    min-width: 45px;
  }
}

@media (min-width: 600px) {
  .navContainer .phoneMenuBar {
    min-width: 45px;
    top: 15px;
    right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 0 auto;
  }
}

@media (min-width: 750px) {
  .navContainer .phoneMenuBar {
    min-width: auto;
    margin: 0 0 0 0;
    width: 40px;
  }
}

@media (max-width: 599px) {
  .navContainer__bookAppointment {
    display: none;
  }
}

@media (min-width: 600px) {
  .navContainer__bookAppointment {
    display: none;
  }
}

@media (min-width: 750px) {
  .navContainer__bookAppointment {
    display: block;
    margin: 0 20px 0 auto;
  }
}

@media (min-width: 600px) {
  .navContainer__bookAppointment a {
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    -webkit-text-decoration-color: #f1260d;
            text-decoration-color: #f1260d;
  }
}

.phoneMenuBar {
  width: 45px;
  height: 40px;
  background-color: #f1260d;
  border:;
  z-index: 6;
}

.phoneMenuBar__line {
  width: 80%;
  height: 0.9px;
  background-color: #ffffff;
  border:;
  margin: 5px 0;
}

@media (max-width: 599px) {
  .phoneMenuBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 0 auto;
  }
}

@media (min-width: 600px) {
  .phoneMenuBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 0 auto;
  }
}

@media (min-width: 750px) {
  .phoneMenuBar {
    margin: 0;
  }
}

.munuDropdown {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border:;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 5;
  right: -100%;
}

.munuDropdown__blackBox {
  overflow: hidden;
  position: relative;
}

@media (max-width: 599px) {
  .munuDropdown__blackBox {
    display: none;
  }
}

@media (min-width: 600px) {
  .munuDropdown__blackBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 45%;
    height: 100%;
    background-color: transparent;
    border:;
  }
}

.munuDropdown__coverLayer {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  border:;
  position: absolute;
  right: -100%;
}

.munuDropdown__li {
  font-size: 25px;
  font-weight: 600;
  color: #222222;
  list-style: none;
  cursor: pointer;
  margin: 10px 0;
}

.munuDropdown__li--link a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  color: #222222;
}

.munuDropdown__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 0 50px;
}

@media (max-width: 599px) {
  .munuDropdown__menu {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border:;
  }
}

@media (min-width: 600px) {
  .munuDropdown__menu {
    width: 55%;
    height: 100%;
    background-color: #ffffff;
    border:;
  }
}

.munuDropdown__menu ul {
  margin: 0 0 50px 0;
}

.munuDropdown__addInfo {
  font-size: 15px;
  color: #f1260d;
  margin: 0 0 10px 0;
  display: block;
}

canvas {
  width: 100%;
  height: 100%;
  border:;
  z-index: -1;
}

.introduction {
  width: 100%;
  height: 100%;
  border:;
  position: relative;
}

.introduction__text {
  position: absolute;
}

@media (max-width: 599px) {
  .introduction__text {
    width: 80%;
    height: auto;
    border:;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (min-width: 600px) {
  .introduction__text {
    width: 80%;
    height: auto;
    border:;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (min-width: 900px) {
  .introduction__text {
    top: 50%;
  }
}

@media (max-width: 599px) {
  .introduction__intro {
    font-size: 12px;
    font-weight: 600;
    color: #cfcfcf;
    margin: 35px 0 0 0;
  }
}

@media (min-width: 600px) {
  .introduction__intro {
    font-size: 15px;
    font-weight: 600;
    color: #cfcfcf;
    width: 100%;
    border:;
    margin: 35px 0 0 0;
  }
}

.introduction__adTxt {
  display: block;
  margin: 35px 0 0 0;
}

@media (max-width: 599px) {
  .introduction__adTxt {
    font-size: 25px;
    font-weight: 700;
    color: #ffffff;
  }
}

@media (max-width: 380px) {
  .introduction__adTxt {
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
  }
}

@media (min-width: 600px) {
  .introduction__adTxt {
    font-size: 35px;
    font-weight: 700;
    color: #ffffff;
  }
}

@media (min-width: 900px) {
  .introduction__adTxt {
    font-size: 45px;
  }
}

@media (min-width: 1200px) {
  .introduction__adTxt {
    font-size: 50px;
  }
}

.munuDropdown {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border:;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 5;
  right: -100%;
}

.munuDropdown__blackBox {
  overflow: hidden;
  position: relative;
}

@media (max-width: 599px) {
  .munuDropdown__blackBox {
    display: none;
  }
}

@media (min-width: 600px) {
  .munuDropdown__blackBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 45%;
    height: 100%;
    background-color: transparent;
    border:;
  }
}

.munuDropdown__coverLayer {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  border:;
  position: absolute;
  right: -100%;
}

.munuDropdown__li {
  font-size: 25px;
  font-weight: 600;
  color: #222222;
  list-style: none;
  margin: 10px 0;
}

.munuDropdown__li--contact a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  color: #222222;
}

.munuDropdown__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 0 50px;
}

@media (max-width: 599px) {
  .munuDropdown__menu {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border:;
  }
}

@media (min-width: 600px) {
  .munuDropdown__menu {
    width: 55%;
    height: 100%;
    background-color: #ffffff;
    border:;
  }
}

.munuDropdown__menu ul {
  margin: 0 0 50px 0;
}

.munuDropdown__addInfo {
  font-size: 15px;
  color: #f1260d;
  margin: 0 0 10px 0;
  display: block;
}

.aboutMe {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 599px) {
  .aboutMe {
    width: 100%;
    height: 45px;
    background-color: #f1260d;
    border:;
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
    margin: 40px 0 0 0;
  }
}

@media (min-width: 600px) {
  .aboutMe {
    width: 280px;
    height: 45px;
    background-color: #f1260d;
    border:;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    margin: 40px 0 0 0;
  }
}

.portfolio {
  width: 100vw;
  border:;
}

@media (max-width: 599px) {
  .portfolio {
    padding: 100px 0 0 0;
  }
}

@media (min-width: 600px) {
  .portfolio {
    padding: 100px 0 0 0;
  }
}

@media (min-width: 750px) {
  .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 599px) {
  .portfolio__container {
    padding: 0 25px;
  }
}

@media (min-width: 600px) {
  .portfolio__container {
    padding: 0 40px;
  }
}

@media (min-width: 750px) {
  .portfolio__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 25px;
  }
}

@media (min-width: 1200px) {
  .portfolio__container {
    padding: 0 40px;
  }
}

@media (max-width: 599px) {
  .portfolio__header {
    width: 100%;
    border:;
    margin: 0 0 10px 0;
  }
}

@media (min-width: 600px) {
  .portfolio__header {
    width: 100%;
    border:;
    margin: 0 0 10px 0;
  }
}

@media (max-width: 599px) {
  .portfolio__header h1 {
    font-size: 28px;
    font-weight: 600;
    color: #121212;
  }
}

@media (min-width: 600px) {
  .portfolio__header h1 {
    font-size: 30px;
    font-weight: 600;
    color: #121212;
  }
}

@media (max-width: 599px) {
  .portfolio__subHeaderTxt {
    font-size: 14px;
    color: #555555;
    margin: 0 0 50px 0;
  }
}

@media (min-width: 600px) {
  .portfolio__subHeaderTxt {
    width: 100%;
    border:;
    font-size: 15px;
    color: #555555;
    margin: 0 0 50px 0;
  }
}

.portfolio .workItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 20px 0 #d6d6d6;
          box-shadow: 0 0 20px 0 #d6d6d6;
  overflow: hidden;
  position: relative;
  min-height: 320px;
}

@media (max-width: 599px) {
  .portfolio .workItem {
    width: 100%;
    border:;
    margin: 0 0 60px 0;
  }
}

@media (min-width: 600px) {
  .portfolio .workItem {
    width: 100%;
    border:;
    margin: 0 0 60px 0;
  }
}

@media (min-width: 750px) {
  .portfolio .workItem {
    width: 45%;
    border:;
    margin: 0 15px 60px 15px;
  }
}

.portfolio .workItem::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0%;
  background-color: rgba(250, 250, 250, 0.5);
  border:;
  border-radius: 0 0 50% 50%;
  left: 0;
  top: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.portfolio .workItem:hover::before {
  height: 180%;
}

.portfolio .workItem__btnContainer {
  width: 100%;
  height: auto;
  background-color: transparent;
  border:;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.portfolio .workItem__btn {
  text-decoration: none;
  cursor: pointer;
  width: 80px;
  height: 80px;
  background-color: rgba(241, 38, 13, 0.9);
  border:;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 3px;
  margin: 0 10px;
  z-index: 2;
  opacity: 0;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.portfolio .workItem__btn:hover {
  -webkit-box-shadow: white 0 0 10px 0;
          box-shadow: white 0 0 10px 0;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.portfolio__img {
  padding: 15px;
  min-width: 50px;
  min-height: 150px;
}

@media (max-width: 599px) {
  .portfolio__img--agency {
    width: 70%;
    height: auto;
    border:;
  }
}

@media (max-width: 380px) {
  .portfolio__img--agency {
    width: 90%;
    height: auto;
    border:;
  }
}

@media (min-width: 600px) {
  .portfolio__img--agency {
    width: 60%;
    height: auto;
    border:;
  }
}

@media (min-width: 750px) {
  .portfolio__img--agency {
    width: 100%;
    height: auto;
    border:;
  }
}

@media (min-width: 1200px) {
  .portfolio__img--agency {
    width: 100%;
    height: auto;
    border:;
    padding: 30px;
  }
}

@media (max-width: 599px) {
  .portfolio__img--onlineShop {
    width: 70%;
    height: auto;
    border:;
  }
}

@media (max-width: 380px) {
  .portfolio__img--onlineShop {
    width: 90%;
    height: auto;
    border:;
  }
}

@media (min-width: 600px) {
  .portfolio__img--onlineShop {
    width: 60%;
    height: auto;
    border:;
  }
}

@media (min-width: 750px) {
  .portfolio__img--onlineShop {
    width: 100%;
    height: auto;
    border:;
  }
}

@media (min-width: 1200px) {
  .portfolio__img--onlineShop {
    width: 80%;
    height: auto;
    border:;
    padding: 30px;
  }
}

@media (max-width: 599px) {
  .portfolio__img--realState {
    width: 70%;
    height: auto;
    border:;
  }
}

@media (max-width: 380px) {
  .portfolio__img--realState {
    width: 90%;
    height: auto;
    border:;
  }
}

@media (min-width: 600px) {
  .portfolio__img--realState {
    width: 60%;
    height: auto;
    border:;
  }
}

@media (min-width: 750px) {
  .portfolio__img--realState {
    width: 90%;
    height: auto;
    border:;
  }
}

@media (min-width: 1200px) {
  .portfolio__img--realState {
    width: 60%;
    height: auto;
    border:;
    padding: 30px;
  }
}

@media (max-width: 599px) {
  .portfolio__img--restaurant {
    width: 60%;
    border:;
  }
}

@media (max-width: 380px) {
  .portfolio__img--restaurant {
    width: 80%;
    border:;
  }
}

@media (min-width: 600px) {
  .portfolio__img--restaurant {
    width: 50%;
    border:;
  }
}

@media (min-width: 750px) {
  .portfolio__img--restaurant {
    width: 70%;
    border:;
  }
}

@media (min-width: 900px) {
  .portfolio__img--restaurant {
    width: 60%;
    border:;
  }
}

@media (min-width: 1200px) {
  .portfolio__img--restaurant {
    width: 50%;
    border:;
  }
}

.portfolio__ad {
  background: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(204, 204, 204, 0.5) 5px, rgba(204, 204, 204, 0.5) 6px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 60px 0;
  padding: 5px 10px;
}

@media (max-width: 599px) {
  .portfolio__ad {
    width: 100%;
    border:;
  }
}

@media (min-width: 600px) {
  .portfolio__ad {
    width: 100%;
    border:;
  }
}

@media (min-width: 750px) {
  .portfolio__ad {
    width: 45%;
    border:;
    margin: 0 15px 60px 15px;
  }
}

.portfolio__adHeader {
  width: 100%;
  border:;
  margin: 0 0 21px 0;
}

@media (min-width: 600px) {
  .portfolio__adHeader {
    font-size: 30px;
    font-weight: 600;
    color: #000000;
  }
}

@media (max-width: 599px) {
  .portfolio__adHeader {
    font-size: 30px;
    font-weight: 600;
    color: #000000;
  }
}

.portfolio__adPara {
  width: 100%;
  border:;
}

@media (min-width: 600px) {
  .portfolio__adPara {
    font-size: 15px;
    font-weight: 500;
    color: #000000;
    margin: 0 0 21px 0;
  }
}

@media (max-width: 599px) {
  .portfolio__adPara {
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    margin: 0 0 21px 0;
  }
}

.portfolio__skillsContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__skillsContainer h3 {
  width: 100%;
  margin: 15px 0;
}

.portfolio__skillSvg {
  opacity: 0;
}

.portfolio__skillWrapper {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0;
}

@media (max-width: 599px) {
  .portfolio__skillWrapper span {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
  }
}

@media (max-width: 380px) {
  .portfolio__skillWrapper span {
    font-size: 14px;
    font-weight: 500;
    color: #000000;
  }
}

@media (min-width: 600px) {
  .portfolio__skillWrapper span {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
  }
}

.portfolio__seeResume {
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 600px) {
  .portfolio__seeResume {
    width: 35%;
    height: 45px;
    background-color: #f1260d;
    border:;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px 0;
  }
}

@media (max-width: 599px) {
  .portfolio__seeResume {
    width: 100%;
    height: 45px;
    background-color: #f1260d;
    border:;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px 0;
  }
}

.praising {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 599px) {
  .praising {
    width: 100%;
    height: 100vh;
    background-color: #f1260d;
    border:;
    padding: 10px 16px;
  }
}

@media (min-width: 600px) {
  .praising {
    width: 100%;
    height: 100vh;
    background-color: #f1260d;
    border:;
    padding: 10px 25px;
  }
}

@media (min-width: 750px) {
  .praising {
    padding: 10px 50px;
  }
}

.praising__txt {
  margin: auto 0;
}

.praising__txt h3 {
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 15px 0;
}

@media (max-width: 599px) {
  .praising__txt h3 {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
  }
}

@media (max-width: 380px) {
  .praising__txt h3 {
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
  }
}

@media (min-width: 600px) {
  .praising__txt h3 {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
  }
}

@media (min-width: 750px) {
  .praising__txt h3 {
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
  }
}

.praising__txt ul {
  list-style: none;
}

.praising__txt ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.praising__txt ul li i {
  margin: 3px 5px 0 0;
}

@media (max-width: 599px) {
  .praising__txt ul li {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 10px 0;
  }
}

@media (max-width: 380px) {
  .praising__txt ul li {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
  }
}

@media (min-width: 600px) {
  .praising__txt ul li {
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
  }
}

@media (min-width: 1200px) {
  .praising__txt ul li {
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
  }
}

.praising__botton {
  width: 80%;
  height: 45px;
  background-color: #f1260d;
  border:;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 599px) {
  .praising__botton {
    margin: 10px auto 0 0;
  }
}

@media (min-width: 600px) {
  .praising__botton {
    width: 240px;
    height: 45px;
    background-color: #f1260d;
    border:;
    margin: 0 auto auto 0;
  }
}

.praising__botton i {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  margin: 0 0 0 auto;
}

.secAd {
  width: 100%;
  border:;
}

@media (max-width: 599px) {
  .secAd {
    padding: 100px 16px;
  }
}

@media (min-width: 600px) {
  .secAd {
    padding: 100px 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 750px) {
  .secAd {
    padding: 100px 50px;
  }
}

.secAd__preHeader {
  width: 100%;
  border:;
}

@media (min-width: 600px) {
  .secAd__preHeader {
    font-size: 15px;
    color: #f1260d;
    margin: 0 0 30px 0;
  }
}

@media (max-width: 599px) {
  .secAd__preHeader {
    font-size: 14px;
    color: #f1260d;
    margin: 0 0 30px 0;
  }
}

.secAd__header {
  margin: auto 0;
  width: 100%;
}

.secAd__header h3 {
  font-size: 40px;
  font-weight: bold;
  color: #000000;
  margin: 0 0 15px 0;
}

@media (max-width: 599px) {
  .secAd__header h3 {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
  }
}

@media (max-width: 380px) {
  .secAd__header h3 {
    font-size: 25px;
    font-weight: bold;
    color: #000000;
  }
}

@media (min-width: 600px) {
  .secAd__header h3 {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
  }
}

@media (min-width: 750px) {
  .secAd__header h3 {
    font-size: 40px;
    font-weight: bold;
    color: #000000;
  }
}

.secAd__header ul {
  list-style: none;
}

.secAd__header ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.secAd__header ul li i {
  margin: 3px 5px 0 0;
}

@media (max-width: 599px) {
  .secAd__header ul li {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    margin: 5px 0;
  }
}

@media (max-width: 380px) {
  .secAd__header ul li {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
  }
}

@media (min-width: 600px) {
  .secAd__header ul li {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin: 10px 0;
  }
}

@media (min-width: 750px) {
  .secAd__header ul li {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
  }
}

@media (min-width: 1200px) {
  .secAd__header ul li {
    font-size: 25px;
    font-weight: bold;
    color: #000000;
  }
}

.secAd__meet {
  text-decoration: none;
}

@media (min-width: 600px) {
  .secAd__meet {
    width: 280px;
    height: 45px;
    background-color: #f1260d;
    border:;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px auto 5px 0;
    cursor: pointer;
  }
}

@media (max-width: 599px) {
  .secAd__meet {
    width: 100%;
    height: 45px;
    background-color: #f1260d;
    border:;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px 0 5px 0;
  }
}

.footer {
  min-height: 100vh;
}

@media (min-width: 600px) {
  .footer {
    width: 100%;
    background-color: #0a0a0a;
    border:;
    padding: 100px 50px 50px 50px;
  }
}

@media (max-width: 599px) {
  .footer {
    width: 100%;
    background-color: #0a0a0a;
    border:;
    padding: 100px 50px 50px 50px;
  }
}

@media (min-width: 750px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__myImg {
  width: 200px;
  height: auto;
  border:;
  border-radius: 50%;
  margin: 0 0 10px 0;
}

@media (min-width: 600px) {
  .footer__aboutMe {
    width: 100%;
    border:;
    margin: 0 0 30px 0;
  }
}

@media (max-width: 599px) {
  .footer__aboutMe {
    width: 100%;
    border:;
    margin: 0 0 30px 0;
  }
}

@media (min-width: 750px) {
  .footer__aboutMe {
    width: 50%;
    border:;
    padding: 0 20px 30px 20px;
  }
}

@media (min-width: 600px) {
  .footer__aboutMe h1 {
    font-size: 30px;
    color: #ffffff;
    margin: 0 0 45px 0;
  }
}

@media (max-width: 599px) {
  .footer__aboutMe h1 {
    font-size: 28px;
    color: #ffffff;
    margin: 0 0 45px 0;
  }
}

@media (min-width: 600px) {
  .footer__aboutMe p {
    font-size: 14px;
    color: #cfcfcf;
    line-height: 28px;
  }
}

@media (max-width: 599px) {
  .footer__aboutMe p {
    font-size: 13.5px;
    color: #cfcfcf;
    line-height: 28px;
  }
}

@media (min-width: 750px) {
  .footer__aboutMe p {
    font-size: 15px;
    color: #cfcfcf;
  }
}

@media (max-width: 599px) {
  .footer__info {
    width: 100%;
    border:;
  }
}

@media (min-width: 600px) {
  .footer__info {
    width: 100%;
    border:;
  }
}

@media (min-width: 750px) {
  .footer__info {
    width: 50%;
    border:;
    padding: 0 0 0 40px;
  }
}

.footer__socialMedia {
  margin: 0 0 50px 0;
}

.footer__socialMedia a {
  text-decoration: none;
  cursor: pointer;
}

.footer__socialMedia i {
  margin: 0 20px 0 0;
}

@media (min-width: 600px) {
  .footer__socialMedia i {
    font-size: 26px;
    color: #ffffff;
  }
}

@media (max-width: 599px) {
  .footer__socialMedia i {
    font-size: 25px;
    color: #ffffff;
  }
}

@media (min-width: 600px) {
  .footer__contact {
    margin: 0 0 30px 0;
  }
}

@media (max-width: 599px) {
  .footer__contact {
    margin: 0 0 30px 0;
  }
}

@media (min-width: 600px) {
  .footer__contact h4 {
    font-size: 17px;
    font-weight: 500;
    color: #ffffff;
    margin: 0 0 20px 0;
  }
}

@media (max-width: 599px) {
  .footer__contact h4 {
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    margin: 0 0 20px 0;
  }
}

@media (min-width: 600px) {
  .footer__contact a {
    font-size: 16px;
    color: #f1260d;
    margin: 0 0 10px 0;
    display: block;
  }
}

@media (max-width: 599px) {
  .footer__contact a {
    font-size: 15px;
    color: #f1260d;
    margin: 0 0 10px 0;
    display: block;
  }
}

@media (min-width: 600px) {
  .footer__copyright {
    font-size: 12px;
    color: #cfcfcf;
  }
}

@media (max-width: 599px) {
  .footer__copyright {
    font-size: 12px;
    color: #cfcfcf;
  }
}

.cursor {
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  width: 3rem;
  height: 3rem;
  border: 2px solid #f1260d;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transition-property: background, -webkit-transform;
  transition-property: background, -webkit-transform;
  transition-property: background, transform;
  transition-property: background, transform, -webkit-transform;
  z-index: 1;
  -webkit-backdrop-filter: hue-rotate(30deg);
          backdrop-filter: hue-rotate(30deg);
}

.cursor__dot {
  width: 3px;
  height: 3px;
  background-color: #ffffff;
  border:;
  border-radius: 50%;
}

@media (max-width: 599px) {
  .cursor {
    display: none;
  }
}

.linkGrow {
  -webkit-transform: scale(2);
          transform: scale(2);
  background: #f1260d;
}

.portfolio__workItem img {
  position: relative;
  z-index: -3;
}
/*# sourceMappingURL=main.css.map */