* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
}

@mixin box($width, $height, $backgroundColor, $borderRadius, $border...) {
  width: $width;
  height: $height;
  background-color: $backgroundColor;
  border: $border;
  border-radius: $borderRadius;
}

@mixin flex($justifyContent, $alignItems, $flexDirection) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-direction: $flexDirection;
}

// FONTS
$openSans: "Open Sans", sans-serif;

@mixin font($family, $size, $weight, $style, $color) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  color: $color;
  font-style: $style;
}

@mixin for-extra-small-phone-only {
  @media (max-width: 380px) {
    @content;
  }
}
@mixin for-small-phone-only {
  @media (max-width: 480px) {
    @content;
  }
}
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-additional-tablet-up {
  @media (min-width: 750px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

// NAVIGATION
.navContainer {
  position: fixed;
  @include box(100%, 100px, transparent null, null);
  z-index: 7;
  @include flex(null, center, row);
  @include for-phone-only() {
    padding: 0 30px;
  }
  @include for-extra-small-phone-only() {
    padding: 0 20px;
  }
  @include for-tablet-portrait-up() {
    padding: 0 30px;
  }
  @include for-additional-tablet-up() {
    padding: 0 40px;
  }
  &__logo {
    @include for-phone-only() {
      @include box(70px, auto, null, null, null);
    }
    @include for-tablet-portrait-up() {
      @include box(70px, auto, null, null, null);
    }
    @include for-tablet-landscape-up() {
      @include box(80px, auto, null, null, null);
    }
    img {
      @include box(100%, null, null, null, null);
    }
  }
  // MAIN NAVIGATION BAR
  .mainNav {
    @include for-phone-only() {
      display: none;
    }
    @include for-tablet-portrait-up() {
      display: none;
    }
    @include for-tablet-landscape-up() {
      display: block;
      margin: 0 0 0 5%;
    }
    ul {
      @include flex(null, null, row);
      li {
        list-style: none;
        a{
          @include font($openSans, 15px, 600, null, #ffffff);
          text-decoration: none;
          padding: 0 15px;
          cursor: pointer;
        }
      }
    }
  }

  // HAMBURGER BAR ICON
  .phoneMenuBar {
    cursor: pointer;
    @include box(45px, 40px, #f1260d, null, null);
    z-index: 5;
    &__line {
      @include box(80%, 0.9px, #ffffff, null, null);
      margin: 5px 0;
    }
    @include for-phone-only() {
      top: 15px;
      right: 15px;
      @include flex(center, center, column);
    }
    @include for-tablet-portrait-up() {
      top: 15px;
      right: 15px;
      @include flex(center, center, column);
    }
  }
  &__bookAppointment {
    @include for-phone-only() {
      display: none;
    }
    @include for-tablet-portrait-up() {
      margin: 0 20px 0 auto;
    }
    a {
      @include for-tablet-portrait-up() {
        @include font($openSans, 15px, 600, null, #ffffff);
        text-decoration-color: #f1260d;
      }
    }
  }
}

.munuDropdown {
  @include box(100%, 100%, transparent null, null);
  @include flex(null, center, null);
  position: fixed;
  z-index: 5;
  right: -100%;
  &__blackBox {
    overflow: hidden;
    position: relative;
    @include for-phone-only() {
      display: none;
    }
    @include for-tablet-portrait-up() {
      display: flex;
      @include box(45%, 100%, transparent, null, null);
    }
  }
  &__coverLayer {
    @include box(100%, 100%, rgba(0, 0, 0, 0.8), null, null);
    position: absolute;
    right: -100%;
  }
  &__li {
    @include font($openSans, 25px, 600, null, #222222);
    list-style: none;
    margin: 10px 0;
    &--contact {
      a {
        text-decoration: none;
        @include font($openSans, 25px, 600, null, #222222);
      }
    }
  }
  &__menu {
    @include flex(center, null, column);
    padding: 0 0 0 50px;
    @include for-phone-only() {
      @include box(100%, 100%, #ffffff, null, null);
    }
    @include for-tablet-portrait-up() {
      @include box(55%, 100%, #ffffff, null, null);
    }
    ul {
      margin: 0 0 50px 0;
    }
  }
  &__addInfo {
    @include font($openSans, 15px, null, null, #f1260d);
    margin: 0 0 10px 0;
    display: block;
  }
}
.formContainer {
  padding: 120px 50px 50px 50px;
  position: relative;
  @include box(100%, auto, #1a1a1a, null, null);
  @include for-tablet-portrait-up() {
    @include flex(center, null, null);
  }
  @include for-tablet-landscape-up() {
    @include flex(left, null, column);
    @include box(100%, auto, null, null, null);
  }
  &__pageIntro {
    margin: 0 0 20px 0;
    @include for-tablet-portrait-up() {
      @include box(80%, null, null, null, null);
    }
    @include for-tablet-landscape-up() {
      @include box(45%, 270px, null, null, null);
    }
    p {
      line-height: 25px;
      @include for-phone-only() {
        @include font($openSans, 15px, 500, null, #999999);
        margin: 0 0 50px 0;
      }
      @include for-tablet-portrait-up() {
        @include font($openSans, 17px, 500, null, #999999);
        margin: 0 0 50px 0;
      }
      @include for-desktop-up() {
        @include font($openSans, 18px, 500, null, #999999);
      }
    }
    span {
      display: block;
      margin: 0 0 15px 0;
      @include for-phone-only() {
        @include font($openSans, 13px, 500, null, #f1260d);
      }
      @include for-tablet-portrait-up() {
        @include font($openSans, 13px, 500, null, #f1260d);
      }
    }
    h1 {
      margin: 0 0 15px 0;
      @include for-phone-only() {
        @include font($openSans, 40px, 700, null, #ffffff);
      }
      @include for-tablet-portrait-up() {
        @include font($openSans, 45px, 700, null, #ffffff);
      }
      @include for-tablet-landscape-up() {
        @include font($openSans, 55px, 700, null, #ffffff);
      }
      @include for-desktop-up() {
        @include font($openSans, 65px, 700, null, #ffffff);
      }
    }
    a {
      display: block;
      margin: 0 0 10px 0;
      @include for-phone-only() {
        @include font($openSans, 18px, 600, null, #ffffff);
        letter-spacing: 1px;
      }
      @include for-tablet-portrait-up() {
        @include font($openSans, 20px, 600, null, #ffffff);
      }
      @include for-tablet-landscape-up() {
        @include font($openSans, 20px, 600, null, #ffffff);
      }
    }
  }
  &__followMyWork {
    margin: 20px 0;
    padding: 20px;
    @include for-tablet-portrait-up() {
      @include box(80%, null, null, null, null);
    }
    @include for-tablet-landscape-up() {
      @include box(80%, 100vh, null, null, null);
    }
    background: 
    /* On "top" */ repeating-linear-gradient(
      45deg,
      #1a1a1a,
      #1a1a1a 5px,
      rgba(204, 204, 204, 0.2) 5.5px,
      rgba(204, 204, 204, 0.2) 6px
    );
    span {
      display: block;
      margin: 0 0 15px 0;
      @include for-phone-only() {
        @include font($openSans, 13px, 500, null, #f1260d);
      }
      @include for-tablet-portrait-up() {
        @include font($openSans, 13px, 500, null, #f1260d);
      }
    }
    a {
      text-decoration: none;
      display: block;
      margin: 10px 0;
      @include for-phone-only() {
        @include font($openSans, 14px, null, null, #ffffff);
      }
      @include for-tablet-portrait-up() {
        @include font($openSans, 14px, null, null, #ffffff);
      }
      @include for-tablet-landscape-up() {
        @include font($openSans, 15px, null, null, #ffffff);
      }
    }
    i {
      margin: 0 10px 0 0;
      @include for-tablet-portrait-up() {
        @include font(null, 26px, null, null, #ffffff);
      }
      @include for-phone-only() {
        @include font(null, 25px, null, null, #ffffff);
      }
    }
  }
}
.contactForm {
  margin: 30px 0;
  @include for-phone-only() {
    @include box(100%, auto, null, null, null);
  }
  @include for-tablet-portrait-up() {
    @include box(80%, auto, null, null, null);
  }
  @include for-tablet-landscape-up() {
    @include box(50%, auto, #000000, null, null);
    padding: 40px;
    position: absolute;
    right: 50px;
  }
  label {
    @include for-phone-only() {
      @include font($openSans, 15px, 500, null, #ffffff);
      margin: 0 0 5px 0;
    }
    @include for-tablet-portrait-up() {
      @include font($openSans, 16px, 500, null, #ffffff);
      margin: 0 0 8px 0;
    }
    @include for-tablet-landscape-up() {
      @include font($openSans, 17px, 500, null, #ffffff);
      margin: 0 0 10px 0;
    }
    @include for-desktop-up() {
      @include font($openSans, 18px, 600, null, #ffffff);
    }
  }
  fieldset {
    border: 0;
    @include flex(null, null, column);
  }
  &__input {
    @include flex(null, null, column);
    @include for-phone-only() {
      margin: 0 0 20px 0;
    }
    @include for-tablet-portrait-up() {
      margin: 0 0 30px 0;
    }
    input {
      padding: 0 5px;
      @include for-phone-only() {
        @include box(100%, 40px, null, 1px, none);
      }
      @include for-extra-small-phone-only() {
        @include box(100%, 35px, null, 1px, none);
      }
      @include for-tablet-portrait-up() {
        @include box(100%, 40px, null, 1px, none);
      }
    }
  }
  &__textArea {
    @include flex(null, null, column);
    textarea {
      margin: 5px 0 0 0;
      padding: 0 5px;
      @include for-phone-only() {
        @include box(100%, 100px, null, 1px, null);
      }
      @include for-tablet-portrait-up() {
        @include box(100%, 150px, null, 1px, null);
      }
      @include for-tablet-landscape-up() {
        @include box(100%, 180px, null, 1px, null);
      }
    }
  }
  &__SubmitBut {
    @include flex(null, null, null);
    padding: 0 0 0 20px;
    @include font($openSans, 14px, 600, null, #ffffff);
    @include for-phone-only() {
      @include box(270px, 45px, #f1260d, 1px, none);
      margin: 25px 0 0 0;
    }
    @include for-extra-small-phone-only() {
      @include box(100%, 45px, #f1260d, 1px, none);
    }
    @include for-tablet-portrait-up() {
      @include box(270px, 45px, #f1260d, 1px, none);
      margin: 30px 0 0 0;
    }
    @include for-tablet-landscape-up() {
      margin: 40px 0 0 0;
    }
  }
  &__element {
    outline: none;
  }
}
