* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
}

.navContainer {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: transparent;
  border:;
  z-index: 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (max-width: 599px) {
  .navContainer {
    padding: 0 30px;
  }
}

@media (max-width: 380px) {
  .navContainer {
    padding: 0 20px;
  }
}

@media (min-width: 600px) {
  .navContainer {
    padding: 0 30px;
  }
}

.navContainer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (max-width: 599px) {
  .navContainer__logo {
    width: 80px;
    height: auto;
    border:;
  }
}

@media (min-width: 600px) {
  .navContainer__logo {
    width: 80px;
    height: auto;
    border:;
  }
}

@media (min-width: 900px) {
  .navContainer__logo {
    width: 80px;
    height: auto;
    border:;
  }
}

@-webkit-keyframes oal-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes oal-anim {
  to {
    stroke-dashoffset: 0;
  }
}

.navContainer__oalSvg {
  stroke: #ffffff;
  width: 40px;
}

.navContainer__oalSvg path:nth-child(27) {
  stroke-dasharray: 62.80934524536133;
  stroke-dashoffset: 62.80934524536133;
  -webkit-animation: oal-anim 1s ease infinite alternate;
          animation: oal-anim 1s ease infinite alternate;
}

.navContainer__oalSvg path:last-child {
  stroke-dasharray: 62.80934524536133;
  stroke-dashoffset: 62.80934524536133;
  -webkit-animation: oal-anim 1s ease infinite alternate;
          animation: oal-anim 1s ease infinite alternate;
}

.navContainer__nameSvg {
  width: 70px;
  fill: white;
}

@media (max-width: 599px) {
  .navContainer .mainNav {
    display: none;
  }
}

@media (min-width: 600px) {
  .navContainer .mainNav {
    display: none;
  }
}

@media (min-width: 900px) {
  .navContainer .mainNav {
    display: block;
    margin: 0 0 0 5%;
  }
}

.navContainer .mainNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navContainer .mainNav ul li {
  list-style: none;
  margin: 0 5px;
}

.navContainer .mainNav ul li a {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  padding: 0 15px;
  cursor: pointer;
}

.navContainer .phoneMenuBar {
  margin: 0 0 0 auto;
  cursor: pointer;
  width: 45px;
  height: 40px;
  background-color: #f1260d;
  border:;
  z-index: 6;
}

.navContainer .phoneMenuBar__line {
  width: 80%;
  height: 0.9px;
  background-color: #ffffff;
  border:;
  margin: 5px 0;
}

@media (max-width: 599px) {
  .navContainer .phoneMenuBar {
    top: 15px;
    right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 45px;
  }
}

@media (min-width: 600px) {
  .navContainer .phoneMenuBar {
    min-width: 45px;
    top: 15px;
    right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.munuDropdown {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border:;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 5;
  right: -100%;
}

.munuDropdown__blackBox {
  overflow: hidden;
  position: relative;
}

@media (max-width: 599px) {
  .munuDropdown__blackBox {
    display: none;
  }
}

@media (min-width: 600px) {
  .munuDropdown__blackBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 45%;
    height: 100%;
    background-color: transparent;
    border:;
  }
}

.munuDropdown__coverLayer {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  border:;
  position: absolute;
  right: -100%;
}

.munuDropdown__li {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #222222;
  list-style: none;
  margin: 10px 0;
}

.munuDropdown__li--link a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #222222;
}

.munuDropdown__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 0 50px;
}

@media (max-width: 599px) {
  .munuDropdown__menu {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border:;
  }
}

@media (min-width: 600px) {
  .munuDropdown__menu {
    width: 55%;
    height: 100%;
    background-color: #ffffff;
    border:;
  }
}

.munuDropdown__menu ul {
  margin: 0 0 50px 0;
}

.munuDropdown__addInfo {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #f1260d;
  margin: 0 0 10px 0;
  display: block;
}

.formContainer {
  padding: 120px 50px 50px 50px;
  position: relative;
  width: 100%;
  height: auto;
  background-color: #1a1a1a;
  border:;
}

@media (min-width: 600px) {
  .formContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 900px) {
  .formContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
    border:;
  }
}

.formContainer__pageIntro {
  margin: 0 0 20px 0;
}

@media (min-width: 600px) {
  .formContainer__pageIntro {
    width: 80%;
    border:;
  }
}

@media (min-width: 900px) {
  .formContainer__pageIntro {
    width: 45%;
    height: 270px;
    border:;
  }
}

.formContainer__pageIntro p {
  line-height: 25px;
}

@media (max-width: 599px) {
  .formContainer__pageIntro p {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #999999;
    margin: 0 0 50px 0;
  }
}

@media (min-width: 600px) {
  .formContainer__pageIntro p {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #999999;
    margin: 0 0 50px 0;
  }
}

@media (min-width: 1200px) {
  .formContainer__pageIntro p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #999999;
  }
}

.formContainer__pageIntro span {
  display: block;
  margin: 0 0 15px 0;
}

@media (max-width: 599px) {
  .formContainer__pageIntro span {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #f1260d;
  }
}

@media (min-width: 600px) {
  .formContainer__pageIntro span {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #f1260d;
  }
}

.formContainer__pageIntro h1 {
  margin: 0 0 15px 0;
}

@media (max-width: 599px) {
  .formContainer__pageIntro h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
  }
}

@media (min-width: 600px) {
  .formContainer__pageIntro h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: #ffffff;
  }
}

@media (min-width: 900px) {
  .formContainer__pageIntro h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 55px;
    font-weight: 700;
    color: #ffffff;
  }
}

@media (min-width: 1200px) {
  .formContainer__pageIntro h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 65px;
    font-weight: 700;
    color: #ffffff;
  }
}

.formContainer__pageIntro a {
  display: block;
  margin: 0 0 10px 0;
}

@media (max-width: 599px) {
  .formContainer__pageIntro a {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 1px;
  }
}

@media (max-width: 380px) {
  .formContainer__pageIntro a {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 0;
  }
}

@media (min-width: 600px) {
  .formContainer__pageIntro a {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
  }
}

@media (min-width: 900px) {
  .formContainer__pageIntro a {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
  }
}

.formContainer__followMyWork {
  margin: 20px 0;
  padding: 20px;
  background: repeating-linear-gradient(45deg, #1a1a1a, #1a1a1a 5px, rgba(204, 204, 204, 0.2) 5.5px, rgba(204, 204, 204, 0.2) 6px);
}

@media (min-width: 600px) {
  .formContainer__followMyWork {
    width: 80%;
    border:;
  }
}

@media (min-width: 900px) {
  .formContainer__followMyWork {
    width: 80%;
    height: 50vh;
    border:;
  }
}

.formContainer__followMyWork span {
  display: block;
  margin: 0 0 15px 0;
}

@media (max-width: 599px) {
  .formContainer__followMyWork span {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #f1260d;
  }
}

@media (min-width: 600px) {
  .formContainer__followMyWork span {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #f1260d;
  }
}

.formContainer__followMyWork a {
  text-decoration: none;
  display: block;
  margin: 10px 0;
}

@media (max-width: 599px) {
  .formContainer__followMyWork a {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #ffffff;
  }
}

@media (min-width: 600px) {
  .formContainer__followMyWork a {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #ffffff;
  }
}

@media (min-width: 900px) {
  .formContainer__followMyWork a {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: #ffffff;
  }
}

.formContainer__followMyWork i {
  margin: 0 10px 0 0;
}

@media (min-width: 600px) {
  .formContainer__followMyWork i {
    font-size: 26px;
    color: #ffffff;
  }
}

@media (max-width: 599px) {
  .formContainer__followMyWork i {
    font-size: 25px;
    color: #ffffff;
  }
}

.contactForm {
  margin: 30px 0;
}

@media (max-width: 599px) {
  .contactForm {
    width: 100%;
    height: auto;
    border:;
  }
}

@media (min-width: 600px) {
  .contactForm {
    width: 80%;
    height: auto;
    border:;
  }
}

@media (min-width: 900px) {
  .contactForm {
    width: 50%;
    height: auto;
    background-color: #000000;
    border:;
    padding: 40px;
    position: absolute;
    right: 50px;
  }
}

@media (max-width: 599px) {
  .contactForm label {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    margin: 0 0 5px 0;
  }
}

@media (min-width: 600px) {
  .contactForm label {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    margin: 0 0 8px 0;
  }
}

@media (min-width: 900px) {
  .contactForm label {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff;
    margin: 0 0 10px 0;
  }
}

@media (min-width: 1200px) {
  .contactForm label {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
  }
}

.contactForm fieldset {
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactForm__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 599px) {
  .contactForm__input {
    margin: 0 0 20px 0;
  }
}

@media (min-width: 600px) {
  .contactForm__input {
    margin: 0 0 30px 0;
  }
}

.contactForm__input input {
  padding: 0 5px;
}

@media (max-width: 599px) {
  .contactForm__input input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 1px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
  }
}

@media (max-width: 380px) {
  .contactForm__input input {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 1px;
  }
}

@media (min-width: 600px) {
  .contactForm__input input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 1px;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
  }
}

.contactForm__textArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactForm__textArea textarea {
  margin: 5px 0 0 0;
  padding: 0 5px;
}

@media (max-width: 599px) {
  .contactForm__textArea textarea {
    width: 100%;
    height: 100px;
    border:;
    border-radius: 1px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
  }
}

@media (min-width: 600px) {
  .contactForm__textArea textarea {
    width: 100%;
    height: 150px;
    border:;
    border-radius: 1px;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
  }
}

@media (min-width: 900px) {
  .contactForm__textArea textarea {
    width: 100%;
    height: 180px;
    border:;
    border-radius: 1px;
  }
}

.contactForm__SubmitBut {
  cursor: not-allowed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}

@media (max-width: 599px) {
  .contactForm__SubmitBut {
    width: 270px;
    height: 45px;
    background-color: #f1260d;
    border: none;
    border-radius: 1px;
    margin: 25px 0 0 0;
  }
}

@media (max-width: 380px) {
  .contactForm__SubmitBut {
    width: 100%;
    height: 45px;
    background-color: #f1260d;
    border: none;
    border-radius: 1px;
  }
}

@media (min-width: 600px) {
  .contactForm__SubmitBut {
    width: 270px;
    height: 45px;
    background-color: #f1260d;
    border: none;
    border-radius: 1px;
    margin: 30px 0 0 0;
  }
}

@media (min-width: 900px) {
  .contactForm__SubmitBut {
    margin: 40px 0 0 0;
  }
}

.contactForm__element {
  outline: none;
}

.cursor {
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  width: 3rem;
  height: 3rem;
  border: 2px solid #f1260d;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transition-property: background, -webkit-transform;
  transition-property: background, -webkit-transform;
  transition-property: background, transform;
  transition-property: background, transform, -webkit-transform;
  z-index: 1;
  -webkit-backdrop-filter: hue-rotate(30deg);
          backdrop-filter: hue-rotate(30deg);
}

.cursor__dot {
  width: 3px;
  height: 3px;
  background-color: #ffffff;
  border:;
  border-radius: 50%;
}

@media (max-width: 599px) {
  .cursor {
    display: none;
  }
}

.linkGrow {
  -webkit-transform: scale(2);
          transform: scale(2);
  background: #f1260d;
}

.portfolio__workItem img {
  position: relative;
  z-index: -3;
}

.emailFeedbackMessage {
  display: none;
  position: fixed;
  bottom: 0;
}

@media (max-width: 599px) {
  .emailFeedbackMessage {
    width: 70%;
    height: auto;
    background-color: green;
    border:;
    border-radius: 2px;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    color: #ffffff;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    padding: 20px 5px;
    margin: 0 0 5px 0;
  }
}

@media (max-width: 380px) {
  .emailFeedbackMessage {
    width: 90%;
    height: auto;
    border:;
    border-radius: 2px;
  }
}

@media (min-width: 600px) {
  .emailFeedbackMessage {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    color: #ffffff;
    width: 300px;
    height: auto;
    background-color: green;
    border:;
    border-radius: 2px;
    padding: 20px;
    margin: 0 0 10px 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}
/*# sourceMappingURL=contact.css.map */